/*Style sheet for the accent color*/
h1 {
    color: #595aab;
}
.diagonal-box {
     background-color: #595aab;
}
.logo span {
    color: #595aab;
}
a:hover {
    color: #595aab;
}
a.bouton:hover {
    background-color: #595aab;
}
.download_text {
    color: #595aab;
}
.menu_text li a:hover {
    color: #595aab;
}
.book_now {
    background-color: #595aab;
}
.send_bt a:hover {
    background: #595aab  ;
}
.round_1 {
    background: #595aab;
}
.book_bt a {
    background-color: #595aab;
}
.book_bt_2 a {
    background-color: #595aab;
}
.fb_text a:hover{
    color: #595aab;
}
.subscribr_bt {
    background-color: #595aab;
}
.copyright a:hover{
    color: #595aab;
}
#main_slider a.carousel-control-prev {
    background-color: #595aab;
}
#main_slider .carousel-control-prev:hover, #main_slider .carousel-control-next:hover, #main_slider .carousel-control-prev:focus, #main_slider .carousel-control-next:focus {
    background: #595aab;
}
#main_slider .carousel-control-prev:hover, #main_slider .carousel-control-next:hover, #main_slider .carousel-control-prev:focus, #main_slider .carousel-control-next:focus {
    background: #595aab;
}

.diagonal-box {
    color: white !important;
}

.titreFormulaire{
    color: #f1f1f1 !important;
}

label.required:before {
    content: "* ";
}

button {
    max-width: fit-content;
}

.msgErreur {
    background-color: #292828;
    border-radius: .25rem !important;
    width: fit-content;
    padding-left: 5px;
    padding-right: 5px;
}

#divLoginButton{
    padding: 0;
    border: 0;
    margin-top: 6px;
    margin-left: 10px;
}

@media (min-width:1200px)
{.container{max-width:1200px}}

.row{
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:nowrap;
    flex-wrap:nowrap;
    margin-right:0px;
    margin-left:0px
}
.menu_text li {
    float: left;
    padding-right: 75px;
    font-size: 18px;
    color: #ffffff;
    padding-top: 18px;
}

.tox .tox-editor-header{
    z-index:initial !important;
}