*{
  margin: 0;
  padding: 0;
  font-family: 'montserrat', sans-serif;
}
body{
  height: 100vh;
  background: #10101E;
}
.grid_container {
  display: grid;
  grid-template-columns: 90px auto 90px;
  grid-template-rows: 100vh;

  grid-template-areas:
    "nav centerbox empty"
    "nav centerbox empty"
    "nav centerbox empty";
}

/*Settings Bar*/
nav{
  color: white;
  display: flex;
  flex-direction: column;

  grid-area: nav;
}
button{
  background-color: transparent;
  border: none;
}
/*CSS for each buttons*/
.formatButton{
  color: white;
  height: 65px;
  width: 65px;
  border-radius: 15px;
  margin: 5px 5px 5px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dateButton{
  color: white;
  height: 65px;
  width: 65px;
  border-radius: 15px;
  margin: 5px 5px 5px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*Buttons change color when :hover*/
.formatButton:hover{
  background: #2E94E3;
  box-shadow: 0 0 30px #2E94E3;
}
.dateButton:hover{
  background: #2E94E3;
  box-shadow: 0 0 30px #2E94E3;
}
/*Tooltips are hidden by default*/
.tooltip{
  display: none;
  position: fixed;
  left: 80px;

  height: 75px;
}
#tooltipFormat{
  top: 0px;
}
#tooltipDate{
  top: 75px;
}
/*Show the tooltip when button:hover*/
.formatButton:hover~#tooltipFormat{
  display: flex;
  align-items: center;
}
.dateButton:hover~#tooltipDate{
  display: flex;
  align-items: center;
}


/*Date and Time*/
.centerbox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  grid-area: centerbox;
}
.datetime{
  color: #fff;
  background: #10101E;
  text-align: center;
  width: 340px;
  padding: 15px 10px;
  border: 3px solid #2E94E3;
  border-radius: 5px;
  -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(255, 255, 255, 0.1));
  transition: 0.5s;
  transition-property: background, box-shadow;
}

.datetime:hover{
  background: #2E94E3;
  box-shadow: 0 0 30px #2E94E3;
}

.date{
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 3px;
}

.hide{
  display: none;
}

.time{
  font-size: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.time span:not(:last-child){
  position: relative;
  margin: 0 6px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 3px;
}

.time span:last-child{
  font-weight: 600;
  padding: 0 5px;
}